.list {
    display: flex;
    gap: 40px;
    margin-left: -130px;
}

.listLoggedIn {
    display: flex;
    gap: 40px;
    margin-left: 0;
}

.linkItem {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25px;
    color: var(--secondary-color-black);
}

.linkItem:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color-green);
}


.active {
    color: var(--secondary-color-black);
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 24px;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--primary-color-green);

    }
}