.item {
    position: relative;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    background: var(--secondary-color-white);
}

.imgBorder {
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 12px;
    border: 2px solid rgba(84, 190, 150, 0.2);
    border-radius: 30px;


    &::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        left: 95px;
        top: 10px;
        border-radius: 50%;
        background-color: rgb(56, 205, 62);
        border: 3px solid white
    }
}


.itemImage {
    border-radius: 15px;
    width: 96px;
    height: 96px;

}

.itemTitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--secondary-color-gray);
}

.itemName {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: var(--secondary-color-black);
}

.itemMainData {
    display: inline-block;
    padding: 8px 16px 8px 16px;

    border-radius: 24px;
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--secondary-color-black);
}

.spanItem {
    color: var(--secondary-color-gray);
}

.infoWrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 4px;
    margin-bottom: 24px;
}

.itemAbout {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.5);
}

.readMoreBtn {
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--secondary-color-black);
    text-decoration-line: underline;
}

.itemData {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--secondary-color-black);

    &:not(:last-child)::after {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 1px;
        height: 16px;
        margin: 0 16px;
        background-color: rgba(25, 26, 21, 0.2);
    }
}

.priceSpan {
    color: rgb(56, 205, 62);
}

.endWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    position: absolute;
    left: 812px;
    top: 30px;
}

.btnHeart {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}