.item {
    display: flex;
    gap: 24px;
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    border-radius: 24px;
    background: var(--secondary-color-white);
}

.imgBorder {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    padding: 11px;
    border: 2px solid rgba(84, 190, 150, 0.2);
    border-radius: 30px;


    &::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        left: 95px;
        top: 10px;
        border-radius: 50%;
        background-color: rgb(56, 205, 62);
        border: 3px solid white
    }
}


.itemImage {
    display: block;
    border-radius: 15px;
}


.headWrapper {
    display: flex;
    margin-bottom: 8px;
    gap: 8px;
    align-items: center;
}

.itemTitle {
    margin-right: 540px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--secondary-color-gray);
}

.listStatWrapper {
    display: flex;
    /* gap: 4px; */
    margin-right: auto;
    width: 100%;
}

.itemData {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--secondary-color-black);

    &:not(:last-child)::after {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 1px;
        height: 16px;
        margin: 0 16px 0 12px;
        background-color: rgba(25, 26, 21, 0.2);
    }
}

.priceSpan {
    color: rgb(56, 205, 62);
}

.btnHeart {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.itemName {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: var(--secondary-color-black);
}

.infoWrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 4px;
    margin-bottom: 24px;
}

.itemMainData {
    display: inline-block;
    padding: 8px 16px 8px 16px;

    border-radius: 24px;
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--secondary-color-black);
}

.spanItem {
    color: var(--secondary-color-gray);
}

.itemAbout {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.5);
}

.readMoreBtn {
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--secondary-color-black);
    text-decoration-line: underline;
}