.logoutBtn {
    padding: 0.875rem 2.437rem;
    background-color: transparent;
    border: 1px solid rgba(25, 26, 21, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--secondary-color-black);
    transition: all 300ms;

    &:hover,
    &:focus {
        border: 1px solid transparent;
        background-color: var(--primary-color-green);
        color: var(--secondary-color-white);
    }
}

.userMenuWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.75rem;
    justify-content: center;

    @media screen and (max-width: 767px) {
        gap: 0.625rem;
    }
}

.userWrapper {
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.userName {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--secondary-color-black);
}